<table class='ui-widget hover'  id="paymentListTable">
    <thead>
        <tr>
            <th>Payment From</th>
            <th>From BSB</th>
            <th>From Account</th>
            <th>Payment To</th>
            <th>To BSB</th>
            <th>To Account</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Entity Source</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Last Updated On</th>
            <th>Last Updated by</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr style="pointer: cursor;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div id="paymentDetails" style="display:none;">
    <div id="paymenDetails.main">
        <fieldset>
            <legend>Payment Details</legend>
            <div style="float:left; width: 40%;">
                <div class="ui-right-align">
                    <label for="from">From:</label>
                </div>
                <div class="ui-right-align">
                    <label for="fromBSB">From BSB:</label>
                </div>
                <div class="ui-right-align">
                    <label for="fromAccount">From Account:</label>
                </div>
                <div class="ui-right-align">
                    <label for="to">To:</label>
                </div>
                <div class="ui-right-align">
                    <label for="toBSB">To BSB:</label>
                </div>
                <div class="ui-right-align">
                    <label for="toAccount">To Account:</label>
                </div>
                <div class="ui-right-align">
                    <label for="amount">Amount:</label>
                </div>
                <div class="ui-right-align">
                    <label for="status">Status:</label>
                </div>
                <div class="ui-right-align">
                    <label for="entitySource">Source:</label>
                </div>
                <div class="ui-right-align">
                    <label for="createdOn">Created on:</label>
                </div>
                <div class="ui-right-align">
                    <label for="createdBy">Created by:</label>
                </div>
                <div class="ui-right-align">
                    <label for="lastUpdatedOn">Updated on:</label>
                </div>
                <div class="ui-right-align">
                    <label for="lastUpdatedBy">Updated by:</label>
                </div>
                <div class="ui-right-align">
                    <label for="comments">Comments:</label>
                </div>
            </div>
            <div style="float:left; width: 60%;">
                <div>
                    <label id="from"></label>
                </div>
                <div>
                    <label id="fromBSB"></label>
                </div>
                <div>
                    <label id="fromAccount"></label>
                </div>
                <div>
                    <label id="to"></label>
                </div>
                <div>
                    <label id="toBSB"></label>
                </div>
                <div>
                    <label id="toAccount"></label>
                </div>
                <div>
                    <label id="amount"></label>
                </div>
                <div>
                    <label id="status"></label>
                </div>
                <div>
                    <label id="entitySource"></label>
                </div>
                <div>
                    <label id="createdOn"></label>
                </div>
                <div>
                    <label id="createdBy"></label>
                </div>
                <div>
                    <label id="lastUpdatedOn"></label>
                </div>
                <div>
                    <label id="lastUpdatedBy"></label>
                </div>
                <div>
                    <label id="comments"></label>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="paymenDetails.actions">
        <fieldset>
            <legend>Available Actions</legend>
            <button id="paymentDetailsNextButton">Next</button>
        </fieldset>
    </div>
</div>